<div class="starter-template">
    <h1>Welcome to Twitter</h1>
    <h2>Follow celebrities and make new friends!</h2>
    <p class="lead">It's free and always will be, Sign up now to immerse yourself in a new social experience</p>
</div>

<div class="col-md-8 col-md-offset-4">
    <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
    <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>

